.wrapper44{
    width: 90%;
    max-width: 1310px;
    margin: 0 auto;
    /* height: 200px; */
}
.card44 .st1{
    margin-top: 195px;
    color: white;
    margin-right: 88px;
}
.card44 .st2{
    margin-top: 195px;
    color: white;
    margin-right: 63px;
}
.card44 .st3{
    margin-top: 195px;
    color: white;
    margin-right: 84px;
}
.card44 .st4{
    margin-top: 195px;
    color: white;
    margin-right: 88px;
}
.card44 .st5{
    margin-top: 195px;
    color: white;
    margin-right: 88px;
}
.card44 .st6{
    margin-top: 195px;
    color: white;
    margin-right: 78px;
}
.card44 .st7{
    margin-top: 195px;
    color: white;
    margin-right: 73px;
}
.card44 .st8{
    margin-top: 195px;
    color: white;
    margin-right: 35px;
}
.card44 .st9{
    margin-top: 195px;
    color: white;
    margin-right: 55px;
}
.card44 .st10{
    margin-top: 195px;
    color: white;
    margin-right: 62px;
}
.card44 .st11{
    margin-top: 195px;
    color: white;
    margin-right: 88px;
}
.card44 .st12{
    margin-top: 195px;
    color: white;
    margin-right: 88px;
}
.card44 .st13{
    margin-top: 195px;
    color: white;
    margin-right: 88px;
}
.card44 .st14{
    margin-top: 195px;
    color: white;
    margin-right: 75px;
}
.card44 .st15{
    margin-top: 195px;
    color: white;
    margin-right: 88px;
}
.card44 .st16{
    margin-top: 195px;
    color: white;
    margin-right: 55px;
}
.card44 .st17{
    margin-top: 195px;
    color: white;
    margin-right: 70px;
}
.card44 .st18{
    margin-top: 195px;
    color: white;
    margin-right: 57px;
}
.card44 .st19{
    margin-top: 195px;
    color: white;
    margin-right: 55px;
}
.card44 .st20{
    margin-top: 195px;
    color: white;
    margin-right: 88px;
}
.card44 .st21{
    margin-top: 195px;
    color: white;
    margin-right: 15px;
}
.card44 .st22{
    margin-top: 195px;
    color: white;
    margin-right: 65px;
}


.cardswrapper44{
    position: relative;
    margin: 4rem 0;    
}
.cardswrapper44 button{
    background-color: white;
    color: blue;
    border: none;
    padding: .8rem;
    border-radius: 50%;
    /* box-shadow: 1px 1px 8px rgba(0 0 0/ 20%); */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    /* transition: all 200ms linear; */
    cursor: pointer;

}
.cardswrapper44 button:hover{
    background-color: orange;
}
.cardswrapper44 button:active{
    background-color: rgb(0, 183, 255);
}
.wrapper44 .cardswrapper44 .cards44 .card44 img{
    width: 330px;
    /* aspect-ratio: 1; */
    max-width: 100%;
    object-fit: cover;
    height: 200px;
    /* margin-left: 2px; */
    /* transition: all 200ms linear; */
}
.prev44{
    left: -1rem;
   
}
.next44{
    right: 0;
}
.cards44{
    white-space: nowrap;
    overflow-x: auto;
    /* background-color: red; */
    background-color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    border-radius: 10px;
}
.cards44::-webkit-scrollbar{
    display: none;
}
.cards44 .card44{
    display: inline-block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 280px;
    /* background-color: white; */
    background-color: rgb(0, 115, 255);
    width: 330px;
}

.cards44  .card44:not(:last-child){
    margin-right: 10px;
}
.card44 > div{
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    transition: all 200ms linear;
}




